.gallerySection
    font-family: robotoFont
    padding-bottom: 10vh
    background-color: #f2f2f2
    
.gallerySection-p1
    font-size: 13px
    color: #21252985
    text-align: center
    padding-top: 10vh

.gallerySection-p2
    font-family: amaticFont
    color: #37373F
    font-size: 50px
    text-align: center
    padding-bottom: 5vh
    span
        color: #ce1212